.separador {
    padding-left: 35px !important;
    background-color: #eee;
    padding: 1%;
}

#titulo {
    margin-top: 9%;
}

#div_principal {
    width: 100%;
    height: 97%;
    border: 1px solid #369;
    margin: 0px;
}

#txt_cabe {
    position: relative;
    left: 2%;
}

#txt_fecha_1 {
    position: relative;
    /*top:10%;*/
    left: 2%;
}

#txt_numero {
    position: relative;
    left: 5%;
    /*top: 8.5%;
 	*/
    font-family: 'Aclonica';
    font-size: 22px;
    font-weight: bold;
    color: red;
}

#barra {
    position: relative;
    left: 5%;
}

#barra p {
    position: relative;
    left: -7%;
    font-size: 12px;
}

table {
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid rgb(65, 64, 64);
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid rgb(65, 64, 64);
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    background-color: #f5f5f5;
}

.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover,
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr.active:hover>th {
    background-color: #e8e8e8;
}

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #dff0d8;
}

.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover,
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6;
}

.table>thead>tr>td.info,
.table>tbody>tr>td.info,
.table>tfoot>tr>td.info,
.table>thead>tr>th.info,
.table>tbody>tr>th.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>tbody>tr.info>td,
.table>tfoot>tr.info>td,
.table>thead>tr.info>th,
.table>tbody>tr.info>th,
.table>tfoot>tr.info>th {
    background-color: #d9edf7;
}

.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover,
.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr.info:hover>th {
    background-color: #c4e3f3;
}

.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td,
.table>thead>tr.warning>th,
.table>tbody>tr.warning>th,
.table>tfoot>tr.warning>th {
    background-color: #fcf8e3;
}

.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc;
}

.table>thead>tr>td.danger,
.table>tbody>tr>td.danger,
.table>tfoot>tr>td.danger,
.table>thead>tr>th.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>tbody>tr.danger>td,
.table>tfoot>tr.danger>td,
.table>thead>tr.danger>th,
.table>tbody>tr.danger>th,
.table>tfoot>tr.danger>th {
    background-color: #f2dede;
}

.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover,
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr.danger:hover>th {
    background-color: #ebcccc;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive>.table {
        margin-bottom: 0;
    }
    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
    .table-responsive>.table-bordered {
        border: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0;
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th,
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0;
    }
}

#div_principal {
    width: 100%;
    height: 97%;
    border: 1px solid #369;
    margin: 0px;
}

#titulo_gobierno {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 8%;
    margin-right: 8%;
}

#imgdigital {
    position: relative;
    width: 20%;
    float: right;
    margin-right: 5%;
}

#imgescudo {
    position: relative;
    top: 5%;
    width: 15%;
    float: left;
    margin-left: 5%;
}

#imgdigital2 {
    width: 200px;
    height: 150px;
    position: relative;
    left: 82%;
    top: 91%;
}

#txt_cabe {
    position: relative;
    left: 2%;
}

#txt_fecha_1 {
    position: relative;
    /*top:10%;*/
    left: 2%;
}

#txt_numero {
    position: relative;
    left: 5%;
    /*top: 8.5%;
 	*/
    font-family: 'Aclonica';
    font-size: 22px;
    font-weight: bold;
    color: red;
}

#titulo_tesoreria {
    text-align: center;
    font-size: 18px;
    font-style: oblique;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    top: -2%;
}

#parrafo_principal {
    text-align: justify;
    position: relative;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    font: normal normal 16px/18px helvetica;
}

#tipo_tramite {
    text-align: center;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font: normal normal 16px/18px helvetica;
}

#tipo_tramite1 {
    text-align: center;
    position: relative;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    font: normal normal 16px/18px helvetica;
}

#titulo {
    text-align: center;
    position: relative;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font: normal bold 16px/18px helvetica;
}

#propiedades {
    width: 80%;
    text-align: left;
}

#seguridades {
    margin: 1%;
    align-items: center;
    width: 100%;
    position: relative;
    /* left: 28%; */
}

#barra {
    position: relative;
    left: 5%;
}

#barra p {
    position: relative;
    left: -7%;
    font-size: 12px;
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid rgb(65, 64, 64)
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid rgb(65, 64, 64)
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

.table>thead>tr>td.active,
.table>tbody>tr>td.active,
.table>tfoot>tr>td.active,
.table>thead>tr>th.active,
.table>tbody>tr>th.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>tbody>tr.active>td,
.table>tfoot>tr.active>td,
.table>thead>tr.active>th,
.table>tbody>tr.active>th,
.table>tfoot>tr.active>th {
    background-color: #f5f5f5;
}

.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover,
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr.active:hover>th {
    background-color: #e8e8e8;
}

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>thead>tr.success>th,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #dff0d8;
}

.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover,
.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr:hover>.success,
.table-hover>tbody>tr.success:hover>th {
    background-color: #d0e9c6;
}

.table>thead>tr>td.info,
.table>tbody>tr>td.info,
.table>tfoot>tr>td.info,
.table>thead>tr>th.info,
.table>tbody>tr>th.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>tbody>tr.info>td,
.table>tfoot>tr.info>td,
.table>thead>tr.info>th,
.table>tbody>tr.info>th,
.table>tfoot>tr.info>th {
    background-color: #d9edf7;
}

.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover,
.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr:hover>.info,
.table-hover>tbody>tr.info:hover>th {
    background-color: #c4e3f3;
}

.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td,
.table>thead>tr.warning>th,
.table>tbody>tr.warning>th,
.table>tfoot>tr.warning>th {
    background-color: #fcf8e3;
}

.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr:hover>.warning,
.table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc;
}

.table>thead>tr>td.danger,
.table>tbody>tr>td.danger,
.table>tfoot>tr>td.danger,
.table>thead>tr>th.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>tbody>tr.danger>td,
.table>tfoot>tr.danger>td,
.table>thead>tr.danger>th,
.table>tbody>tr.danger>th,
.table>tfoot>tr.danger>th {
    background-color: #f2dede;
}

.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover,
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr.danger:hover>th {
    background-color: #ebcccc;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive>.table {
        margin-bottom: 0;
    }
    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
    .table-responsive>.table-bordered {
        border: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child {
        border-left: 0;
    }
    .table-responsive>.table-bordered>thead>tr>th:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child {
        border-right: 0;
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>th,
    .table-responsive>.table-bordered>tfoot>tr:last-child>th,
    .table-responsive>.table-bordered>tbody>tr:last-child>td,
    .table-responsive>.table-bordered>tfoot>tr:last-child>td {
        border-bottom: 0;
    }
}

.deuda_ti {
    font-size: 15px;
    font-weight: bold;
}

#div_firma {
    width: 45%;
    align-content: center;
    text-align: end;
    position: relative;
    left: 55%;
    bottom: 10px
}

#div_caducado {
    width: 55%;
    align-content: center;
    align-items: center;
    position: relative;
    left: 23%;
}

#divFirma {
    width: 30%;
    align-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    bottom: 5%;
}

#firma {
    width: 40%;
    height: auto;
}

.sin_bordes {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 250px;
    width: 100%;
    left: 8%;
}

#div_sri {
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 1%;
}

.td_sri {
    margin-right: 3%;
}

.msg_error {
    color: red;
}

#img_firma {
    width: 100%;
}

#img_cabecera {
    width: 100%;
    position: absolute;
    top: -10%;
}

#body_todo {
    /* background-image: url("../img/memo.png");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Helvetica;
}

#body_todo_2 {
    background-image: url("../img/autorizacion.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

#principal_div {
    width: 100%;
    height: 80%;
    position: relative;
    top: 9%;
    /*border: 5px solid red;*/
}

#principal_div_2 {
    width: 100%;
    height: 80%;
    position: relative;
    top: 8%;
    /*border: 5px solid red;*/
}

#tb_segj {
    border-collapse: collapse;
}

.bordes {
    border: 1px solid #ddd;
}

#propiedades {
    position: relative;
    width: 80%;
    text-align: left;
    left: 10%;
}

#propiedades2 {
    position: relative;
    top: 70%;
    width: 80%;
    text-align: left;
    left: 10%;
}

th,
td {
    /* padding: 10px; */
    text-align: left;
    padding-left: 40px;
    padding-bottom: 2px !important;
}

#tabla_establecimiento {
    border-color: #0c0c0c;
    border-collapse: separate;
    border-spacing: 5px 7.5px;
}

th,
td {
    /* padding: 10px; */
    text-align: left;
    padding-left: 40px;
    padding-bottom: 2px !important;
}

.td_datos {
    /* padding: 10px; */
    text-align: left;
    width: 100%;
    padding-left: 0!important;
    padding-bottom: 0 !important;
}

.td_datos_right {
    /* padding: 10px; */
    text-align: right;
    width: 100%;
    padding-right: 0!important;
    padding-bottom: 0 !important;
    font-size: 9px;
}

.td_datos_2 {
    /* padding: 10px; */
    text-align: left;
    padding-left: 0 !important;
    padding-bottom: 2px !important;
}

.td_datos_2_right {
    /* padding: 10px; */
    text-align: right;
    padding-right: 0 !important;
    padding-bottom: 2px !important;
    font-size: 9px;
}

.td_datos_ca {
    /* padding: 10px; */
    text-align: left;
    padding-left: 0!important;
    width: 10px;
    padding-bottom: 0 !important;
}

.td_datos_ca_right {
    /* padding: 10px; */
    text-align: right;
    padding-right: 0!important;
    width: 80%;
    padding-bottom: 0 !important;
    font-size: 9px;
}

.texto {
    /* padding: 10px; */
    text-align: justify;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    font-size: 10;
}

.texto_4 {
    /* padding: 10px; */
    text-align: justify;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    font-size: 10;
}

.texto_2 {
    /* padding: 10px; */
    text-align: justify;
    /* padding-left: 35px; */
    /* padding-right: 30px; */
    padding-bottom: 2px !important;
    padding-top: 5px !important;
    font-size: 10;
}

.texto_3 {
    /* padding: 10px; */
    text-align: left;
    padding-left: 70px;
    padding-right: 100px;
    /* padding-bottom: 2px !important; */
    /* padding-top: 5px !important; */
    font-size: 10;
}

.separador {
    padding-left: 35px !important;
    padding: 1%;
    text-align: center;
}

.separador_2 {
    padding-left: 35px !important;
    padding: 1%;
    text-align: center;
}

.separador_3 {
    padding-left: 35px !important;
    padding: 1%;
    text-align: right;
    padding-right: 35px!important;
}

#div_firma {
    width: 38%;
    align-content: center;
    text-align: end;
    position: relative;
    left: 6%;
    bottom: 5px;
    /* top: 150px */
}

.fecha {
    padding-bottom: 15px !important;
    /* padding-top: 5px !important; */
    padding-left: 30px;
}

.footer {
    position: fixed;
    bottom: 2%;
    width: 100%;
    /* left: 100px; */
    font-size: 10;
    padding-left: 35px;
    padding-right: 200px;
    padding-bottom: 2px !important;
    padding-top: 5px !important;
}

.footer_2 {
    position: fixed;
    bottom: 25%;
    width: 100%;
    /* left: 100px; */
    font-size: 10;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 2px !important;
    padding-top: 5px !important;
}

.bordeada {
    /* border: 1px solid rgb(29, 29, 29); */
    text-align: center;
}